<div class="row page-top-wrapper">
  <div class="col-sm-6 col-lg-6">
    <div class="title clearfix">
      <h2>Category Detail</h2>
      <ol class="breadcrumb">
        <li><a [routerLink]="['/dashboard']">Dashboard</a></li>
        <li class="active">Category Detail</li>
      </ol>
    </div>
  </div>
  <div class="col-sm-6 col-lg-6 text-right"><a href="#" class="btn btn-info rounded"><i class="fa fa-edit"></i> Edit
    Category Detail</a> <a href="#" class="btn btn-info rounded"><i class="fa fa-print"></i> View PDF</a></div>
</div>
<!-- Page Top Wrapper End -->
<div class="event-detail-list">
  <div class="card">    
    <div class="card-body">
      <h4>Category Detail<span class="seperator"></span></h4>
      <ul>
        <li><b>Name :</b><span>Jhone Doe</span></li>
        <li><b>Description :</b><span></span></li>
      </ul>
    </div>
  </div>
</div>