<div class="row page-top-wrapper">
  <div class="col-sm-6 col-lg-6">
    <div class="title clearfix">
      <h2>User Detail</h2>
      <ol class="breadcrumb">
        <li><a [routerLink]="['/dashboard']">Dashboard</a></li>
        <li class="active">User Detail</li>
      </ol>
    </div>
  </div>
  <div class="col-sm-6 col-lg-6 text-right"><a href="#" class="btn btn-info rounded"><i class="fa fa-edit"></i> Edit
    User Detail</a> <a href="#" class="btn btn-info rounded"><i class="fa fa-print"></i> View PDF</a></div>
</div>
<!-- Page Top Wrapper End -->
<div class="event-detail-list">
  <div class="card">
    <div class="card-header">
      <div class="thumbnail"><img src="../../../../../../assets/images/ABCD_event-slike-03.jpg" alt="Card Holder Name"/>
      </div>
      <div class="card-holder-name">
        <h2>Username</h2>
        <p>Post on <span>7 May, 1984</span></p>
      </div>
    </div>
    <div class="card-body">
      <h4>User Detail<span class="seperator"></span></h4>
      <ul>
        <li><b>Username :</b><span>Purnima Sai</span></li>
        <li><b>Email :</b><span>info@nipunasewa.com</span></li>
        <li><b>Phone :</b><span>0912466778</span></li>
        <li><b>Group :</b><span>ABCD Group</span></li>
        <li><b>Status :</b><span>Active</span></li>
       
      </ul>
    </div>
  </div>
</div>
