<div class="row page-top-wrapper">
  <div class="col-sm-6 col-lg-6">
    <div class="title clearfix">
      <h2>Organizer List</h2>
      <ol class="breadcrumb">
        <li><a [routerLink]="['/dashboard']">Dashboard</a></li>
        <li class="active">Organizer List</li>
      </ol>
    </div>
  </div>
  <div class="col-sm-6 col-lg-6 text-right">
    <div class="view-icons"><a href="#" id="viewGrid" class="switcher btn btn-link active"><i
      class="fa fa-th"></i></a><a href="#" id="viewList" class="switcher btn btn-link"><i class="fa fa-bars"></i></a>
    </div>
    <a [routerLink]="['/users/create']" class="btn btn-info rounded"><i class="fa fa-plus"></i> Add Organizer</a>
  </div>
</div>
<div class="ptoject list employee-list-view">
  <div class="user-list">
    <table class="table table-striped user-table">
      <thead>
      <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Description</th>
        <th>Action</th>        
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><span class="initial-name-word">J</span>Jhone Doe</td>
        <td>Newroad, Pokhara, Nepal</td>
        <td>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</td>
        <td>
          <div class="action">
            <a href="#" data-toggle="tooltip" data-placement="top"
               title="View Detail">
              <i class="fa fa-eye"></i>
            </a>
            <a href="#" data-toggle="tooltip" data-placement="top" title="Edit">
              <i class="fa fa-edit"></i>
            </a>
            <a href="#" data-toggle="tooltip" data-placement="top" title="Delete">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </td>
      </tr>
		<tr>
        <td><span class="initial-name-word">J</span>Jhone Doe</td>
        <td>Newroad, Pokhara, Nepal</td>
        <td>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</td>
        <td>
          <div class="action">
            <a href="#" data-toggle="tooltip" data-placement="top"
               title="View Detail">
              <i class="fa fa-eye"></i>
            </a>
            <a href="#" data-toggle="tooltip" data-placement="top" title="Edit">
              <i class="fa fa-edit"></i>
            </a>
            <a href="#" data-toggle="tooltip" data-placement="top" title="Delete">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    <nav aria-label="Page navigation example" class="ps15">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-left"></i></a></li>
        <li class="page-item"><a class="page-link active" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-right"></i></a></li>
      </ul>
    </nav>
  </div>
</div>