@import url('../../../../../../../src/assets/css/dashboard/table.css');
@import url('../../../../../../../src/assets/css/dashboard/page-top.css');
@import url('../../../../../../../src/assets/css/dashboard/switch.css');

.moz-cover-clear {
  position: relative;
  z-index: 0;
  display: inline-block;
  left: -20px;
  top: 6px;
  width: 18px;
  height: 18px;
  background-color: white;
}

