<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Amaroo | Sign Up</title>

</head>
<body class="login-bg">
<div class="login-wrapper">
  <div class="container">
    <div class="login-form">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="row no-gutters">
            <div class="col-lg-5">
              <div class="left-block div-block">
                <div class="login-logo"><a href="#"><img src="../../../../../assets/images/Amaroo_logo.png" alt=""></a>
                </div>
                <div class="form-content">
                  <h2>Already have an account ?</h2>
                  <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                    totam rem aperiam, eaque </p>
                  <a [routerLink]="['/auth/login']" class="btn solid-btn">Login</a></div>
                <div class="copyright"> © Copyright Ivorys Rock Foundation. All Rights Reserved. <br/>Powered by <a
                  href="#">Nipuna
                  Prabidhik Sewa</a></div>
              </div>
            </div>
            <div class="col-lg-7">
              <div class="right-block div-block">
                <div class="login-title">
                  <h4>Sign Up</h4>
                  <p class="lead">Please fill up the form below.</p>
                </div>
                <app-alert></app-alert>
                <form (ngSubmit)="registerUser()" [formGroup]="registrationForm">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <input type="text" class="form-control" id="first-name" aria-describedby="first-name" required
                               placeholder="First Name" formControlName="first_name">
                        <app-control-messages [control]="f['first_name']"></app-control-messages>

                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <input type="text" class="form-control" id="last-name" aria-describedby="last-name"
                               formControlName="last_name"
                               placeholder="Last Name">
                        <app-control-messages [control]="f['last_name']"></app-control-messages>

                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <input type="email" class="form-control" id="email" aria-describedby="email" formControlName="email"
                           placeholder="Email - Optional">
                    <app-control-messages [control]="f['email']"></app-control-messages>

                  </div>

                  <div class="row">
                    <div class="col-lg-7">
                      <div class="form-group">
                        <ngx-intl-tel-input
                          [cssClass]="'form-control'"
                          [preferredCountries]="['au', 'np']"
                          [enablePlaceholder]="true"
                          formControlName="phone_number"></ngx-intl-tel-input>
                        <app-control-messages [control]="f['phone_number']"></app-control-messages>
                      </div>
                    </div>
                    <div class="col-lg-5">
                      <div class="form-group">
                        <select class="form-control" id="gender" formControlName="gender">
                          <!--<option>&#45;&#45; Select Gender &#45;&#45;</option>-->
                          <option [ngValue]="null" disabled>--Gender--</option>
                          <option value="Male">Male</option>
                          <option value="Female">Female</option>
                          <option value="Other">Other</option>
                        </select>
                        <app-control-messages [control]="f['gender']"></app-control-messages>


                      </div>

                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <input type="password" class="form-control" id="password" aria-describedby="password1"
                               formControlName="password1"
                               placeholder="Password">
                        <app-control-messages [control]="f['password1']"></app-control-messages>

                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <input type="password" class="form-control" id="password2" aria-describedby="password2"
                               formControlName="password2"
                               placeholder="Confirm Password">
                        <app-control-messages [control]="f['password2']"></app-control-messages>

                        <small *ngIf="registrationForm.errors?.passwordNotMatched" class="text-danger">
                          Passwords didn't match.

                        </small>

                      </div>
                    </div>
                  </div>
                  <div class="form-group check-form clearfix">
                    <div class="switch-btn-wrapper float-left">
                      <label class="switch">
                        <input type="checkbox" id="trending" name="trending">
                        <!--<app-control-messages [control]="f['password2']"></app-control-messages>-->

                        <span class="switch-btn"><i class="fa fa-check"></i></span> I Agree the <a href="#">Terms and
                        Conditions</a>. & <a href="#">Privacy Policy.</a></label>
                    </div>
                  </div>
                  <button type="submit" [disabled]='registrationForm.invalid' class="btn solid-btn" style="z-index:1">
                    Sign Me Up !
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
