<app-alert></app-alert>
<div class="row page-top-wrapper">
  <div class="col-sm-6 col-lg-6">
    <div class="title clearfix">
      <h2>Group Detail</h2>
      <ol class="breadcrumb">
        <li><a href="index.html">Dashboard</a></li>
        <li class="active">Group Detail</li>
      </ol>
    </div>
  </div>
</div>
<h2 class="group-title">Group ABC</h2>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Permissions</th>
      <th scope="col">Description</th>
      <th scope="col">Model</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><span class="initial-name-word">J</span>Jhon Doe</td>
      <td>ApplicationMigrationRole</td>
      <td>Allows DMS to call AWS services on your beehalf</td>
      <td>AWS service: dms</td>
    </tr>
    <tr>
      <td><span class="initial-name-word">J</span>Jhon Doe</td>
      <td>ApplicationMigrationRole</td>
      <td>Allows DMS to call AWS services on your beehalf</td>
      <td>AWS service: dms</td>
    </tr>
    <tr>
      <td><span class="initial-name-word">J</span>Jhon Doe</td>
      <td>ApplicationMigrationRole</td>
      <td>Allows DMS to call AWS services on your beehalf</td>
      <td>AWS service: dms</td>
    </tr>
    <tr>
      <td><span class="initial-name-word">J</span>Jhon Doe</td>
      <td>ApplicationMigrationRole</td>
      <td>Allows DMS to call AWS services on your beehalf</td>
      <td>AWS service: dms</td>
    </tr>
    <tr>
      <td><span class="initial-name-word">J</span>Jhon Doe</td>
      <td>ApplicationMigrationRole</td>
      <td>Allows DMS to call AWS services on your beehalf</td>
      <td>AWS service: dms</td>
    </tr>
    </tbody>
  </table>
</div>
