
.title-tab-header {
  height: 3rem;
  width: 100%;
  background-color: lightblue;
  margin: 1rem 0 .3rem 0;
  padding-left: 1rem;
  /*box-shadow: 3px 3px 3px #888888*/

}

body {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  margin: 0;
  padding: 0;
  background-color: #f3f3f3;
  color: #595959;
}

ul, ol, h1, h2, h3, h4, h5, h6, p {
  outline: none !important;
  margin: 0;
  padding: 0;
  list-style: none;
}

td, th {
  padding: 10px;
  text-align: left;
}

.strikeout {
  text-decoration-color: red !important;
  text-decoration: line-through;
  text-decoration-style: double;
}
