<app-header></app-header>
<main class="clearfix" style="background-color: #f2f2f2;">

  <!-- Sidebar Start-->
  <app-side-bar></app-side-bar>


  <!-- Sidebar End-->


  <!--Innerwrapper Start-->
  <div class="inner-wrapper">
    <!--<div class="row page-top">-->
    <!--<div class="col-md-12">-->
    <!--<div class="title clearfix">-->
    <!--<h2>Roles</h2>-->
    <!--<ol class="breadcrumb">-->
    <!--&lt;!&ndash;<li><a href="index.html">Dashboard</a></li>&ndash;&gt;-->
    <!--<li class="active">Roles</li>-->
    <!--</ol>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <router-outlet></router-outlet>

  </div>
  <!--Innerwrapper Ends-->


</main>

<!--footer starts-->
<app-footer></app-footer>
<!--footer ends-->
