<div class="row page-top-wrapper">
  <div class="col-sm-6 col-lg-6">
    <div class="title clearfix">
      <h2>Event Type Detail</h2>
      <ol class="breadcrumb">
        <li><a [routerLink]="['/dashboard']">Dashboard</a></li>
        <li class="active">Event Type Detail</li>
      </ol>
    </div>
  </div>
  <div class="col-sm-6 col-lg-6 text-right"><a href="#" class="btn btn-info rounded"><i class="fa fa-edit"></i> Edit
    Event Type Detail</a> <a href="#" class="btn btn-info rounded"><i class="fa fa-print"></i> View PDF</a></div>
</div>
<div class="event-detail-list">
  <div class="card">
    
    <div class="card-body">
     
      <ul>
        <li><b>Name :</b><span>Pokhara Sky Sports</span></li>
        <li><b>Location :</b><span>Newroad, Pokhara, Nepal</span></li>
       </ul>
    </div>
  </div>
</div>