<div class="row page-top-wrapper">
  <div class="col-sm-6 col-lg-6">
    <div class="title clearfix">
      <h2>Staff Detail</h2>
      <ol class="breadcrumb">
        <li><a [routerLink]="['/dashboard']">Dashboard</a></li>
        <li class="active">Staff Detail</li>
      </ol>
    </div>
  </div>
  <div class="col-sm-6 col-lg-6 text-right"><a href="#" class="btn btn-info rounded"><i class="fa fa-edit"></i> Edit
    Staff Detail</a> <a href="#" class="btn btn-info rounded"><i class="fa fa-print"></i> View PDF</a></div>
</div>
<!-- Page Top Wrapper End -->
<div class="event-detail-list">
  <div class="card">
    <div class="card-header">
      <div class="thumbnail"><img src="../../../../../../assets/images/ABCD_event-slike-03.jpg" alt="Card Holder Name"/>
      </div>
      <div class="card-holder-name">
        <h2>Staff Name</h2>
        <p>Born on: <span>7 May, 1984</span></p>
      </div>
    </div>
    <div class="card-body">
      <h4>Staff Detail<span class="seperator"></span></h4>
      <ul>
        <li><b>Staff Name:</b><span>Purnima Sai</span></li>
        <li><b>ID :</b><span>ET-001</span></li>
        <li><b>Gender :</b><span>Female</span></li>
        <li><b>Email :</b><span>info@nipunasewa.com</span></li>
        <li><b>Phone :</b><span>0912466778</span></li>
        <li><b>Join Date :</b><span>3/18/2018</span></li>
        <li><b>Designation :</b><span>Administrator</span></li>
       
      </ul>
    </div>
  </div>
</div>
